@charset "utf-8";



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Basic	

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
html,body{height:100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, button{margin:0; padding:0;}
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea{margin:0; padding:0; line-height:21px; font-size:15px; font-family:'Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#404040;}
ul, ol, dl, dt, dd{margin:0; padding:0; list-style:none;}
img{border:none;}
hr{display:none;}
fieldset{border:none;}
legend{display:none;}
p{margin:0;}
table{table-layout:fixed; border-collapse:collapse; border-spacing:0;}
table caption{overflow:hidden; position:relative; line-height:1px; font-size:1px; text-indent:-30000px;}
.hidden{overflow:hidden; position:absolute; left:-100000px; line-height:1px; font-size:1px; text-indent:-30000px;}

/* 초기 한글사용(한글 및 중국, 일본 사이트용) */
input[type="text"],
input[type="password"],
textarea{ime-mode:active;}

*{
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	word-wrap: break-word;
	word-break: keep-all;
}
