@charset "utf-8";

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Layout

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cms {background-color:#dde3e7; position:relative;}
.cms #wrap {position:relative; min-width:1400px; height:100%;}
.cms #wrap .layout {position:relative; margin:0; padding:0px; box-sizing:border-box;}
