<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="findMember" parameterType="String" resultType="com.mayeye.module.member.MemberVO">
		<![CDATA[
			select * 
			from me_homesite_accnt
			where member_id = #{member_id}
		]]>
	</select>
	<update id="modifyMember" parameterType="com.mayeye.module.member.MemberVO">
		<selectKey keyProperty="pwd_date" order="BEFORE" resultType="String">
				select DATE_FORMAT(now(), '%Y-%m-%d')
		</selectKey>
		<![CDATA[
			update me_homesite_accnt 
			set member_pw = #{member_repw}, pwd_date = date_format(#{pwd_date},'%Y-%m-%d'), mod_date = date_format(#{pwd_date}, '%Y-%m-%d')
			where member_id = #{member_id}
		]]>
	</update>
</mapper>